var React = require('react');

var <<NAME>>Store = require('../stores/<<NAME>>Store');
var <<NAME>>Actions = require('../actions/<<NAME>>Actions');

var <<NAME>> = React.createClass({

	render: function () {
		return <h1>It Works</h1>
	}
});

module.exports = <<NAME>>;
