var keyMirror = require('keymirror');

var <<NAME>>Constants = keyMirror({
  CREATE:                   null,
  SERVER_CREATE_SUCCESS:    null,
  SERVER_CREATE_FAILED:	    null,
  DESTROY:					null,
  SERVER_DESTROY_SUCCESS:	null,
  SERVER_DESTROY_FAILED:	null,
  UPDATE:					null,
  SERVER_UPDATE_SUCCESS:	null,
  SERVER_UPDATE_FAILED:		null,
  SERVER_INIT_LOAD_SUCCESS:	null,
  SERVER_INIT_LOAD_FAILED:	null
});

module.exports = <<NAME>>Constants;